* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.header{
    height: 100px;
    background-color: rgba(51, 51, 51, 1);
}

.title {
    margin-right: 1300px;
    color: rgba(255, 255, 255, 0);
    font-family: 'Jacques Francois Shadow', serif;
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    text-decoration: none;
    margin-left: 700px;
   margin-bottom:-80px;
}
.rest{
    /* width:100%; */
    height: 600px;
    background-color: rgba(231, 220, 209, 1);
}
.about{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    padding-top: 150px;
    line-height: 60px;
}

.logo1{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 660px;
    margin-top:20px ;
}
.logo1:hover{
    background-color: black;

}
.logo2{
    height: 30px;
    width: 30px;
    border-radius: 5px;
   margin-left: 65px;
}
.logo3{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 65px;
    
} 
.endbar{
    /* display: flex; */
    height: 80px;
    background-color: rgba(51, 51, 51, 1);
    /* justify-content: center; */
}
/* ::-webkit-scrollbar {
    display: none;
} */